body {
    background-image: url('images/background.jpg');
    background-size: cover;
}

.topButtons {
    width: 90px;
    height: 30px;
    padding: 0px;
    cursor: pointer;
    font-weight: 500;
    font-size: 90%;
    background: #0000ff;
    color: #fff;
    float: right;

    margin: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: white;

}

.logo-title {
    font-family: 'Montez', cursive;
    font-size: 50px;
    color: #112fb4;
    margin: auto;
    text-decoration: none;
    margin: 10px 10px 0px 10px;
}

.middleText{
    font-family: 'Ubuntu Mono';
    margin-top: 0;
    margin: 0 0 0px 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-signup,
.close-signin {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.horizontal-line {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
}

.modal-header {
    font-size: 28px;
    font-family: 'Microsoft Sans Serif';
    color: grey;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.form-bttn {
    background-color: green;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.modal-text {
    font-weight: bold;
    margin: 10px 0;
    font-family: 'Microsoft Sans Serif';
}

.modal-inputtext {
    background-color: lightgray;
    font-family: 'Microsoft Sans Serif';
    border: none;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}

.modal-bottomtext {
    display:inline;
    text-align: center;
    margin-top: 5px;
}
