.topButtons {
    width: 90px;
    height: 30px;
    padding: 0px;
    cursor: pointer;
    font-weight: 500;
    font-size: 90%;
    background: #0000ff;
    color: #fff;
    float: right;

    margin: 10px 10px 10px 10px;
    font-family: "Microsoft Sans Serif";
    border-color: white;
}

.logo-title {
    font-family: 'Montez', cursive;
    font-size: 50px;
    color: #112fb4;
    margin: auto;
    text-decoration: none;
    margin: 10px 10px 0px 10px;
}

.middleText{
    font-family: 'Ubuntu Mono';
    margin-top: 0;
    margin: 0 0 0px 10px;
}

.sign-in-footer {
    text-align: center;
    margin: 8px;
    font-weight: bold;
}

.form-row {
    padding-bottom: 3%;
}

.form-control {
    background-color: lightgray;
}

.btn-success-custom {
    margin-top: 20px;
}

#deletedialog {
    width: 30%;
}

#deletedialogbody {
    text-align: center;
    margin-bottom: 5%;
}